extends ../layout

block content
  form(role='form', action="/login", method="post", is="iron-form")
    paper-card
      div.card-content
        h1 Login Page
        p.lead Say something worthwhile here.
        if error
          gui-error= error
        .form-group
          paper-input.form-control(type='text', name="username", label='Enter Username')
        .form-group
          paper-input.form-control(type='password', name="password", label='Password')

        sv-submit(raised) Submit

        a(href='/')
          paper-button(raised) Cancel
